.quotes {
    border: 3px dotted goldenrod;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.quote__author::before {
    content:" - ";
}

.quote__author {
    margin-top: 1rem;
    font-style: italic;
}